header {
    background-color: #3940c7;
    height: 90px;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

header h1{
    color: rgb(255, 255, 255);
}

.divBarra{
    height: 60px;
    width: 100%;
    background-color: #5b87b3;
    margin-bottom: 10px;
}

div nav{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: #fff;
}

a:hover{
    color: rgb(0, 0, 0);
}

footer{
    background-color: #3940c7;
    display: flex;
    justify-content: space-around;
    height: 80px;
}

.mensajeError{
    color: red;
    visibility: hidden;
}
.ocultarMensaje{
    visibility: visible;
}
.contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 620px;
    width: 100%;
    margin: 8px;
}

.card{
    border: solid #5b87b3  2px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19%;
    height: 300px;
}

div p span{
    display: flex;
    justify-content: center;
}

